{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import",
  ],
  "env": {
    "node": true,
  },
  "globals": {
    "atom": false,
    "latex": false,
  },
}
