{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "import",
  ],
  "env": {
    "node": true,
  },
  "globals": {
    "atom": false,
    "latex": false,
  },
  "rules": {
    "one-var": [2, { "uninitialized": "always", "initialized": "never" }],
    "one-var-declaration-per-line": [2, "initializations"],
  }
}
